<form action="#" th:action="@{/user/update}" th:object="${user}"
	method="post">
	<input type="hidden" th:field="*{id}" />
	</p>
	<p>
		Nombre: <input type="text" th:field="*{name}"/>
	</p>
	<p>
		Apellido: <input type="text" th:field="*{surname}"/>
	</p>
	<p>
		Tipo de documento: <input type="text" th:field="*{documentType}"/>
	</p>
	<p>
		Numero de documento: <input type="text" th:field="*{documentNumber}"/>
	</p>
	<input type="submit" value="Editar" />
</form>

<form action="#" th:action="@{/user/delete/{id}(id=${user.id})}" method="post">
	<input type="submit" value="Eliminar Usuario" />
</form>