<!DOCTYPE html>
<!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment = "head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gestión de Aulas</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/> -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">            
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav th:replace="fragments/navbar :: navbar"></nav>
                <!-- Page content-->
                <div class="container-fluid text-center">
                    <h1 class="mt-4">Proyecto Cuatrimestral - Orientación a Objetos II</h1>
                    <h4 class="fw-bold">Grupo 07</h4>
                    <a href="https://github.com/gmajuria" class="text-decoration-none">
                   		<p>Gonzalo Ajuria</p>
                    </a>
                    <a href="https://github.com/bordonagustin1996" class="text-decoration-none">
                   		<p>Agustin Bordon</p>
                    </a>
                    <a href="https://github.com/IgnacioIA" class="text-decoration-none">
                    	<p>Ignacio Cruz</p>
                    </a>
                    <a href="https://github.com/xKraut95" class="text-decoration-none">
                    	<p>Ignacio Soloduja</p>
                    </a>               
                    <img th:src="@{/images/logo.jpg}" class="rounded mx-auto d-block" alt="Unla" width="100">                    
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
